HOST_USERS_ANALYZE=0.0.0.0
PORT_USERS_ANALYZE=8000

HOST_AUTH=
PORT_AUTH=

HOST_CONTENT=
PORT_CONTENT=

TOPIC=views
KAFKA_USER=
KAFKA_PASSWORD=
KAFKA_SERVERS=
KAFKA_CAFILE=

MONGO_HOST=127.0.0.1
MONGO_PORT=27017
# If you are using MongoDB in cluster exclude user and password lines from .env
# Add them to .env if you use mongo from `docker-compose-local.yml`
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=pass
MONGO_INITDB_DATABASE=ugc

SENTRY_DNS=

LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044
LOGSTASH_ENABLE=False